[submodule "lib/portaudio"]
	path = lib/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "lib/portmidi"]
	path = lib/portmidi
	url = https://github.com/PortMidi/portmidi.git
[submodule "lib/ncurses"]
	path = lib/ncurses
	url = https://github.com/mirror/ncurses
